<h1>This is the form to edit my itinerary</h1>
  <div class="col-8 mt-2 p-5">
    <div class="form">
      <%= simple_form_for(@itinerary) do |f| %>
      <%= f.input :title, placeholder: "Choose a title for your itinerary" %>
      <%= f.input :description, placeholder: "Describe your itinerary" %>
          <div class="form-check">
           <%= f.input :weather,
            collection: Itinerary.weathers.keys,
            wrapper_html: {class: 'flex justify-center'},
            as: :radio_buttons
          %>
          </div>
      <%= f.input :price, placeholder: "Please fill in the price" %>
      <%= f.input :duration, placeholder: "Please fill in the duration" %>
      <%= f.association :station,
                    placeholder: "Please choose the station",
      %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
