<%= render "shared/normal_search" %>

<h1>All itineraries</h1>
<% @itineraries.each do |itinerary| %>
  <%= link_to "#{itinerary.title}", itinerary_path(itinerary) %>
  <p> Rating : <%= itinerary.rating %></p>
  <p> Description : <%= itinerary.description %></p>
  <p> Price : <%= itinerary.price %></p>
  <p> Duration : <%= itinerary.duration %></p>
<% end %>
