<%= render "shared/normal_search" %>

<h1>All itineraries</h1>
<% @itineraries.each do |itinerary| %>
  <% itinerary.activities.each do |activity| %>
    <%= cl_image_tag(activity.photo.key),  width: 400, height: 300, crop: :fill%>
  <% end %>
  <%= link_to "#{itinerary.title}", itinerary_path(itinerary) %>
  <p> Rating : <%= itinerary.rating %></p>
  <p> Description : <%= itinerary.description %></p>
  <p> Price : <%= itinerary.price %></p>
  <p> Duration : <%= itinerary.duration %></p>

<% end %>
