<div class="index-header">
  <div class="index-title">
    <h3>Itineraries</h3>
    <h1>Discover your perfect date itinerary</h1>
    <p>Creating unforgettable moments has never been easier</p>
  </div>
  <%= render "shared/index_search" %>
</div>




<div class="itineraries-card">

  <% @itineraries.each do |itinerary| %>

    <div class="itinerary-card">
      <div class= "itinerary-photo">
        <% if itinerary.activities.present? %>

          <% if itinerary.activities.count > 1 %>
            <%= cl_image_tag itinerary.activities.first.photo.key, height: 150, crop: :fill, class: "activity-photo picture-left" %>
            <%= cl_image_tag itinerary.activities.second.photo.key, height: 150, crop: :fill, class: "activity-photo picture-right" %>
          <% else %>
            <%= cl_image_tag itinerary.activities.first.photo.key, width: 340, height: 150, crop: :fill, class: "activity-photo  mono-picture" %>
          <% end %>

        <% end %>
      </div>
      <div class="itinerary-card-info">
        <div class="itinerary-header-card" data-controller="favorite-heart">
          <%= link_to "#{itinerary.title}", itinerary_path(itinerary), class: "itinerary-title" %>
          <div class="itinerary-btn">
            <%= link_to "See more", itinerary_path(itinerary), class: "btn-blue" %>
            <% if current_user.saved_itineraries.include?(itinerary) %>
              <i class="fa-solid fa-heart" data-fav=<%= itinerary.favorites.find_by_user_id(current_user).id %> data-favorite-heart-target="fav" data-itinerary=<%= itinerary.id %> data-user=<%= current_user.id %> data-action="click->favorite-heart#updateFav"></i>
            <% else %>
                <i class="far fa-heart" data-favorite-heart-target="fav" data-itinerary=<%= itinerary.id %> data-user=<%= current_user.id %> data-action="click->favorite-heart#updateFav"></i>
            <% end %>
          </div>
        </div>
        <div class="itinerary-description-card">
            <h5>
              <i class="fa-solid fa-train"></i>
              <%= itinerary.station.name %>
            </h5>
            <p>
              <%= itinerary.rating %>
              <% if itinerary.rating.round == 1 %>
                <i class="fa-solid fa-heart"></i>
                <i class="far fa-heart"></i>
                <i class="far fa-heart"></i>
                <i class="far fa-heart"></i>
                <i class="far fa-heart"></i>
                <% elsif itinerary.rating.round == 2 %>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                  <i class="far fa-heart"></i>
                  <i class="far fa-heart"></i>
                  <i class="far fa-heart"></i>
                <% elsif itinerary.rating.round == 3 %>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                  <i class="far fa-heart"></i>
                  <i class="far fa-heart"></i>
                <% elsif itinerary.rating.round == 4 %>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                  <i class="far fa-heart"></i>
                <% elsif itinerary.rating.round == 5 %>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
              <% end %>
            </p>
            <p>
                <i class="fa-solid fa-comment"></i>
                <%= itinerary.reviews.count %> Reviews
            </p>
            <p>
              <i class="fa-solid fa-clock"></i>
              <%= itinerary.duration %> |
              <%= itinerary.price %> |
              <% if itinerary.sunny == true  %>
                <i class="fa-solid fa-sun"></i>
              <% end  %>
              <% if itinerary.rainy == true  %>
                <i class="fa-solid fa-cloud-rain"></i>
              <% end  %>
              <% if itinerary.cloudy == true  %> 
                <i class="fa-solid fa-cloud-sun"></i>
              <% end  %>
            </p>
        </div> <%# itinerary-description-card %>
      </div> <%# itinerary-card-info %>
    </div> <%# itinerary-card %>
  <% end %>
</div>
