<div class="container">
  <h1> Please create your new itinerary</h1>
    <div class="form">
      <%= simple_form_for(@itinerary) do |f| %>
      <%= f.input :title, placeholder: "Choose a title for your itinerary" %>
      <%= f.input :description, placeholder: "Describe your itinerary" %>
      <%= f.input :weather, placeholder: "Please fill in the weather" %>
      <%= f.input :price, placeholder: "Please fill in the price" %>
      <%= f.input :duration, placeholder: "Please fill in the duration" %>
      <%= f.input :station_id, placeholder: "Please choose the station" %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
    </div>
</div>
