<div class="container mt-5">
  <h1><%= @itinerary.title %></h1>
  <div class="itinerary-info">
    <p><%= @itinerary.station.name %></p>
    <p><%= @itinerary.rating %></p>
    <p> Created by <%= @itinerary.user.first_name %> </p>
  <p><%= @itinerary.price %></p>
  <p><%= @itinerary.duration %></p>
  <p><%= @itinerary.duration %></p>
  </div>
  <p><%= @itinerary.description %></p>
  <div id="map" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value="<%= @markers.to_json %>">
  </div>
  <div class="activities-card">
    <% @itinerary.activities.each do |activity| %>
    <div class="activity-info">
        <p> <strong> <%= activity.title %> </strong> </p>
        <p><%= activity.address %> </p>
        <p> <%= activity.description %> </p>
    </div>
    <% end %>
  </div>
  <%= link_to "Edit", edit_itinerary_path(@itinerary), class: "submit-btn" %>
  <%= link_to "Destroy", itinerary_path(@itinerary), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "submit-btn" %>
  <%= link_to "Add to favorites", itinerary_favorites_path(@itinerary), data: { turbo_method: :post }, class: "submit-btn" %>
  <%= link_to "Add a review", new_itinerary_review_path(@itinerary), class: "submit-btn" %>
</div>
