
<div class="i-header   mb-5">
  <div class="row">
    <div class="col-9">
    <h2><%= @itinerary.title %></h2>
    <p class= "mt-5"><%= @itinerary.description %></p>
      <div class="info-text d-flex">
        <div class="info-text-station p-5">
          <p><i class="fa-solid fa-train-subway"></i>   <%= @itinerary.station.name %></p>
        </div>
        <div class="info-text-rating p-5">
          <i class="fa-solid fa-star"></i>
          <%= @itinerary.rating %>
        </div>
        <div class="info-text-review p-5">
          <p><i class="fa-solid fa-comment"></i> <%= @itinerary.reviews.count%> reviews </p>
        </div>
        <div class="username p-5">
          <%= @itinerary.user.first_name %>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="info-box d-flex justify-content-center">
        <div class="hour">
          <p><i class="fa-solid fa-clock"></i> <%= @itinerary.duration %></p>
        </div>
        <div class="price">
          <%= @itinerary.price %></p>
        </div>
        <div class="weather">
         <p>
            <% if @itinerary.sunny == true  %>
              <i class="fa-solid fa-sun"></i>
            <% end  %>
            <% if @itinerary.rainy == true  %>
              <i class="fa-solid fa-cloud-rain"></i>
            <% end  %>
            <% if @itinerary.cloudy == true  %>
              <i class="fa-solid fa-cloud-sun"></i>
            <% end  %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
