
<div class="activities">
  <% @itinerary.activities.each do|activity| %>
    <div class="mb-5 d-flex w-80 justify-content-between">
      <div>
        <h4><%= activity.title %></h4>
        <p><%= activity.description %></p>
      </div>
      <%= cl_image_tag activity.photo.key, width: 200, height: 150, class: "activity-img"%>
    </div>
    <% end  %>
</div>
<div class="container">
  <div class="reviews mt-5">
    <% @itinerary.reviews.each do|review| %>
    <div class="d-flex review-comment">
      <p class><%= review.content %></p>
      <% end  %>
    </div>
  </div>
  <div id="map" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value="<%= @markers.to_json %>"></div>
</div>
<div class="reviews mt-5">
  <% @itinerary.reviews.each do|review| %>
  <div class="d-flex review-comment">
    <p class><%= review.content %></p>
    <% end  %>
  </div>
</div>
