<div class="form">
  <%= simple_form_for(@itinerary) do |f| %>
    <%= f.input :title, placeholder: "Choose a title for your itinerary" %>
    <%= f.input :description, placeholder: "Describe your itinerary" %>
      <div class="form-check">
        <%= f.input :weather,
          collection: Itinerary.weathers.keys,
          wrapper_html: {class: 'flex justify-center'},
          as: :radio_buttons
        %>
      </div>
      <div class="form-check">
        <%= f.input :price,
          collection: Itinerary.prices.keys,
          as: :radio_buttons
        %>
        </div>
      <div class="form-check">
        <%= f.input :duration,
          collection: Itinerary.durations.keys,
          as: :radio_buttons
        %>
      </div>
        <%= f.association :station, placeholder: "Please choose the station", data: {controller: "tom-select", tom_select_options_value: {tags: true}}%>
        <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
