<div class="form">
  <%= simple_form_for(@itinerary) do |f| %>
    <%= f.input :title, placeholder: "Choose a title for your itinerary" %>
    <%= f.input :description, placeholder: "Describe your itinerary" %>
      <div class="weather-title">
      Weather
      </div>
        <div class="form-check">
          <%= f.input :sunny %>
          <%= f.input :cloudy %>
          <%= f.input :rainy %>
        </div>
      <div class="form-check">
        <%= f.input :price,
          collection: ["$","$$","$$$"],
          as: :radio_buttons
        %>
      </div>
      <div class="form-check">
        <%= f.input :duration,
          collection: ["1h-2h", "2h-4h", "More than 4h"],
          as: :radio_buttons
        %>
      </div>
      <div class="category-title">
      Category
      </div>
      <div class="form-check">
        <%= f.input :restaurant %>
        <%= f.input :culture %>
        <%= f.input :drinks %>
        <%= f.input :outdoor %>
        <%= f.input :original %>
      </div>
        <%= f.association :station, placeholder: "Please choose the station", input_html: {data: {controller: "tom-select", tom_select_options_value: {tags: true}}}%>
        <%= f.submit class: "btn-create-activity" %>
  <% end %>
</div>
