<div class="container">
    <h1>My Dashboard</h1>
  <div class="user-card">
    <h2> My account</h2>
    <p> <%= current_user.first_name %>
        <%= current_user.last_name %>
        <%#= cl_image_tag("bella_hadid"), width: 400, height: 400, crop: :fill %>
    </p>
<%= link_to "Create an itinerary", new_itinerary_path, class: "btn-itinerary-new" %>
  </div>

  <h2> My itineraries</h2>
  <% @itineraries.each do |itinerary| %>
    <% if itinerary.user_id == current_user.id %>
      <div class="itinerary-card">
          <%# cl_image_tag Activity.find(b.activity_id).photo.key,  width: 400, height: 300, crop: :fill%>
        <div class="itinerary-info">
          <h3> <%= itinerary.title %> </h3>
          <p> Price : <%= itinerary.price %></p>
          <p> Description : <%= itinerary.description %></p>
          <p> Duration : <%= itinerary.duration %></p>
        </div>
        <%= link_to "Edit itinerary", edit_itinerary_path(itinerary), class: "btn-itinerary-edit" %>
      </div>
    <% end %>
  <% end %>
          <%= link_to "View more", itineraries_path, class: "btn btn-primary" %>
  <% if @itineraries.length == 0 %>
    <div class="no-itinerary-card">
      <h3>No itineraries added... yet!</h3>
      <p>It's time to go out and get ready for your next date.</p>
      <%= link_to "Start searching", itineraries_path, class: "btn-itinerary-index" %>
      </div>
  <% end %>
    <h2> My favorites </h2>
      <div class="itinerary-card">
        <% current_user.saved_itineraries.each do |itinerary|%>
          <h3> <%= itinerary.title %> </h3>
          <p> Price : <%= itinerary.price %></p>
          <p> Description : <%= itinerary.description %></p>
          <p> Duration : <%= itinerary.duration %></p>
        <% end %>
      </div>
</div>
