<div class="container">
  <h1>All my activities</h1>
  <% @activities.each do|activity| %>
    <h4><%= activity.title %></h4>
    <i class="fa-solid fa-location-dot"></i>
    <p><%= activity.address %></p>
    <p><%= activity.description %></p>
    <%= cl_image_tag activity.photo.key, width: 200, height: 150, class: "activity-img"%>
    <p>
      <%= link_to "Show this activity", activity_path(activity), class: "btn btn-primary" %>
      <%= link_to "Edit", edit_activity_url(activity), class: "btn btn-primary" %>
      <%= link_to "Delete", activity_path(activity), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </p>
  <% end %>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<script src="/assets/map.js"></script>

</div>
