<div class="container">
  <h1>All my activities</h1>
  <% @activities.each do |activity| %>
      <%= activity.title %>
      <%= activity.description %>
      <%= activity.address %>
      <p>
        <%= link_to "Show this activity", activity_path(activity), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_activity_url(activity), class: "btn btn-primary" %>
        <%= link_to "Delete", activity_path(activity), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </p>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<script src="/assets/map.js"></script>

  <% end %>
</div>
