<div class="container mb-5">
  <h1 class="mt-5"> Please create your new activity</h1>
    <div class="form">
      <%= simple_form_for([@itinerary, @activity]) do |f| %>
      <%= f.input :title, placeholder: "Choose a title for your activity" %>
      <%= f.input :description, placeholder: "Describe your activity" %>
      <%= f.input :address, placeholder: "Please fill in the address" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
    </div>
</div>
