<div class="container">
  <h1> Please create your new activity</h1>
    <div class="form">
      <%= simple_form_for(activity) do |f| %>
      <%= f.input :title, placeholder: "Choose a title for your activity" %>
      <%= f.input :description, placeholder: "Describe your activity" %>
      <%= f.input :address, placeholder: "Please fill in the address" %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
    </div>
</div>
