<div class="container">
  <h1>Your activity for <%= @itinerary.title %> </h1>
  <p> Created by <%= @itinerary.user.first_name %> </p>
  <div class="card">
    <p> Details : <%= @activity.description %></p>
  </div>
  <div style="width: 100%; height: 600px;"
  id="map"
  data-controller="map"
  data-maps-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-maps-markers-value="<%= raw @markers.to_json %>">
  </div>
<%= link_to "Back to my itineraries", itineraries_path, class: "btn btn-primary" %>
</div>
