<h1>New Review for <%= link_to @itinerary.title, @itinerary %></h1>

<%= simple_form_for([@itinerary, @review]) do |f| %>

  <%= f.label :rating %>
  <%= f.select :rating, Review::RATING, prompt: "Pick one" %>


  <%= f.label :content %>
  <%= f.text_area :content, placeholder: "What did you think?" %>


  <%= f.submit "Post Review" %>
<% end %>
